@model TimezonesManager.DAL.Timezone

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { id = "frmCreateTimezones" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CityName)
            @Html.ValidationMessageFor(model => model.CityName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DifGMT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DifGMT)
            @Html.ValidationMessageFor(model => model.DifGMT)
        </div>

        <p>
            <input type="button" value="Save" id="btnSaveCreate" />&nbsp;&nbsp;
            <input type="button" value="Cancel" id="btncancel" />
        </p>
    </fieldset>
}